.mypy_cache/
/.coverage*
/.nox/
/.python-version
/.pytype/
/dist/
/docs/_build/
/src/*.egg-info/
__pycache__/
tests/data/testimages_lowncc.npy
tests/data/testimages_lowncc2.npy
tests/data/testimages_lowncc2.csv
examples/stitched_image.npy
tests/data/sparse_example/
/prof/
profile
tests/OneDrive_1_2022-12-24.zip
tests/OneDrive_1_2022-12-24/images.npy
tests/OneDrive_1_2022-12-24/minimal_notebook.ipynb
tests/data/images_mimuelle2212.npy
