.mypy_cache/
/.coverage*
/.nox/
/.python-version
/.pytype/
/dist/
/docs/_build/
/src/*.egg-info/
__pycache__/
tests/data/testimages_lowncc.npy
tests/data/testimages_lowncc2.npy
tests/data/testimages_lowncc2.csv
examples/stitched_image.npy
